* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.header {
  height: 70px;
  display: flex;
  align-items: center;
}

.logo {
  width: 120px;
  padding-left: 16px;
}

.nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background: #111;
  padding-top: 80px;
  transition: left 0.3s;
  /* display: none; */
}

.nav.on {
  left: 0;
}

.nav li a {
  font-size: 18px;
  display: block;
  text-align: center;
  padding: 26px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

/* hamburger bar */

.bar {
  position: absolute;
  top: 20px;
  right: 16px;
  width: 30px;
  height: 30px;
  background: red;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar span {
  width: 100%;
  height: 2px;
  background: #fff;
  position: relative;
  transition: background 0.3s;
}

.bar span::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  /* content: ""; */
  width: 100%;
  height: 2px;
  background: #fff;
}

.bar span::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;

  width: 100%;
  height: 2px;
  background: #fff;
}

.bar.on span {
  background: transparent;
}

.bar.on span::before {
  top: 0;
  transform: rotate(-45deg);
}

.bar.on span::after {
  bottom: 0;
  transform: rotate(45deg);
}
